{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{user_data.title}}</title>
<html lang="ru-RU"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="article">
<meta property="og:title" content="{{user_data.title}}">
<meta property="og:description" content="{{user_data.description}}">
<meta property="og:site_name" content="{{title}}">
<meta property="og:image" content="{{user_data.photo.url}}">
</head>
<body>

<script>
	
	setTimeout(function () {
   window.location.href = "https://t.me/haromak_plus";
}, 3000);

</script>

</body>
</html>